<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="atuhor" content="Natalia Rajska, Stanisław Chynek, Bartosz Maleta"/>
    <meta name="keywords" content="tictactoe, gry, game, games, online, fun, play"/>
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <link href="https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@1,300&display=swap" rel="stylesheet">
    <link rel="shortcut icon" href="../resources/icon/websiteIcon.png">
    <link rel="stylesheet" media="screen" href="../public/css/style.css">
    <link rel="stylesheet" media="screen" href="../public/css/grid.css">
    <link rel="stylesheet" media="screen" href="../public/css/ttc.css">
    <script type="text/javascript" src="../public/js/gamev01.js" defer></script>
    <title>TicTacTOe Project</title>

</head>

<body>
<video autoplay muted loop id="myVideo">
    <source src="../resources/images/video.mp4" type="video/mp4">
    Your browser does not support HTML5 video.
</video>
<div class="container">
    <div class="topnav" id="myTopnav">
        <a href="index.html" class="active">Home</a>
        <a href="#news">News</a>
        <a href="#contact">Contact</a>
        <a href="#about">About</a>
        <a href="javascript:void(0);" class="icon" onclick="myFunction()">
            <i class="fa fa-bars"></i>
        </a>
    </div>

    <nav>
        <!-- <h2>Choose the game </h2> -->
    </nav>
    <section>
        <div class="projects-container">
            <article class="project-text">
            </article>
            <article class="project-text">
                <div class="grid-container-ttc">
                    <div class="headerCont"> * TIC TAC TOE *</div>
                    <div class="navCont"></div>
                    <div class="leftCont"></div>
                    <div class="mainCont">
                        <div class='game-grid'>
                            <div class="box" id="top-left">
                                <button></button>
                            </div>
                            <div class="box" id="top-center">
                                <button></button>
                            </div>
                            <div class="box" id="top-right">
                                <button></button>
                            </div>
                            <div class="box" id="mid-left">
                                <button></button>
                            </div>
                            <div class="box" id="mid-center">
                                <button></button>
                            </div>
                            <div class="box" id="mid-right">
                                <button></button>
                            </div>
                            <div class="box" id="bottom-left">
                                <button></button>
                            </div>
                            <div class="box" id="bottom-center">
                                <button></button>
                            </div>
                            <div class="box" id="bottom-right">
                                <button></button>
                            </div>
                        </div>
                    </div>
                    <div class="rightCont"></div>
                    <div class="footerCont"></div>
                </div>
            </article>
            <article class="project-text">
            </article>

        </div>
    </section>
    <footer>
        <div class="text-row">
            <a>legal information </a>|
            <a> all rights reserved &copy; Natalia Rajska, Stanisław Chynek, Bartosz Maleta 2020</a>
        </div>
    </footer>
</div>
</body>


</body>

</html>
