<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>TicTacTOe Project</title>
    <link rel="shortcut icon" href="../resources/icon/websiteIcon.png">
    <!-- <link rel="stylesheet" href="../public/css/style.css"> -->
    <link rel="stylesheet" href="../public/css/grid.css">
    <link rel="stylesheet" href="../public/css/ttc.css">
    <script type="text/javascript" src="../public/js/game.js" defer></script>
</head>
<body>
<div class="grid-container">
    <div class="headerCont">Header</div>
    <div class="navCont">Navbar</div>
    <div class="leftCont">Left</div>
    <div class="mainCont">Main
        <div class='game-grid'>
            <div class="box" id="top-left">
                <button>TL</button>
            </div>
            <div class="box" id="top-center">
                <button>TC</button>
            </div>
            <div class="box" id="top-right">
                <button>TR</button>
            </div>
            <div class="box" id="mid-left">
                <button>ML</button>
            </div>
            <div class="box" id="mid-center">
                <button>MC</button>
            </div>
            <div class="box" id="mid-right">
                <button>MR</button>
            </div>
            <div class="box" id="bottom-left">
                <button>BL</button>
            </div>
            <div class="box" id="bottom-center">
                <button>BC</button>
            </div>
            <div class="box" id="bottom-right">
                <button>BR</button>
            </div>
        </div>
    </div>
    <div class="rightCont">Right</div>
    <div class="footerCont">Footer</div>
</div>
</body>

</html>
