<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="atuhor" content="Natalia Rajska, Stanisław Chynek, Bartosz Maleta" />
    <meta name="keywords" content="tictactoe, gry, game, games, online, fun, play" />
    <title>TicTacTOe Project</title>
    <meta name="viewport"
        content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <link rel="shortcut icon" href="../resources/icon/websiteIcon.png">
    <link rel="stylesheet" media="screen" href="../public/css/style.css">
    <script type="text/javascript" src="../public/js/script.js" defer></script>
</head>

<body> 
    <video autoplay muted loop id="myVideo">
        <source src="../resources/images/video.mp4" type="video/mp4">
        Your browser does not support HTML5 video.
    </video>
    <div class="container">

        <header></header>
        <nav class="col-md-12">
            <h1>Welcome to game sky</h1>
        </nav>
        <section>
            <div class="projects-container">
                <article class="project-text">
                    <img src="" alt="game1">
                </article>
                <article class="project-text">
                    <img src="" alt="game2">
                </article>
                <article class="project-text">
                    <img src="" alt="game3">
                </article>

            </div>
        </section>
        <footer>
            <div class="text-row">
                <div class="footer clearfix">
                    <a href="" class="black">legal information</a>|
                    <a href="" class="black">all rights reserved &copy; NR, SC, BM 2020</a>
                </div>
            </div>
        </footer>
    </div>
</body>

</html>