<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="atuhor" content="Natalia Rajska, Stanisław Chynek, Bartosz Maleta" />
    <meta name="keywords" content="tictactoe, gry, game, games, online, fun, play" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <link href="https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@1,300&display=swap" rel="stylesheet">
    <link rel="shortcut icon" href="../resources/icon/websiteIcon.png">
    
    <link rel="stylesheet" href="../public/css/bodyStructure.css">
    <link rel="stylesheet" media="screen" href="../public/css/style.css">
    <script type="text/javascript" src="../public/js/script.js" defer></script>
    <link href="https://fonts.googleapis.com/css2?family=Work+Sans&display=swap" rel="stylesheet">
    <title>Games in the sky</title>

</head>

<body>
    <video autoplay muted loop id="myVideo">
        <source src="../resources/images/video.mp4" type="video/mp4">
        Your browser does not support HTML5 video.
    </video>
    <div class="container">
        <header>
            <!-- <h1>Games in the sky. <img id="logo" src="../resources/logo/logo3.png" alt="logo"></h1> -->
            <h1><img id="logo" src="../resources/logo/logo3.png" alt="logo"></h1>
        </header>
        <div class="topnav" id="myTopnav">
            <a href="#home" class="active">Home</a>
            <a href="#news">News</a>
            <a href="#contact">Contact</a>
            <a href="#about">About</a>
            <a href="javascript:void(0);" class="icon" onclick="myFunction()">
                <div class="bar">---</div>
                <div class="bar">---</div>
                <div class="bar">---</div>
            </a>
        </div>

        <nav>
            <!-- <h2>Choose the game </h2> -->
        </nav>
        <section>
            <div class="projects-container">
                <article class="project-text">
                    <a href="ticTacToe1.html"><img id="game" class="thumbnails" src="https://i.ibb.co/HrtnmpF/pic.png" alt="game1"></a>
                </article>
                <article class="project-text">
                    <a href="memoryGame.html"><img src="https://i.ibb.co/2hn8TVH/pic1.png" alt="game2"></a>
                </article>
                <article class="project-text">
                    <a href="ticTacToe2.html"><img src="https://i.ibb.co/HrtnmpF/pic.png" alt="game3"></a>
                </article>
                <!-- <article class="project-text">
                    <img src="https://i.ibb.co/2hn8TVH/pic1.png" alt="game4">
                </article>
                <article class="project-text">
                    <img src="https://i.ibb.co/HrtnmpF/pic.png" alt="game5">
                </article>
                <article class="project-text">
                    <img src="https://i.ibb.co/2hn8TVH/pic1.png" alt="game6">
                </article> -->
            </div>
        </section>
        <footer>
            <div class="text-row">
                <a>legal information </a>|
                <a> all rights reserved &copy; Natalia Rajska, Stanisław Chynek, Bartosz Maleta 2020</a>
            </div>
        </footer>
    </div>
</body>

</html>