<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>Memory game</title>
    <link href="../public/css/memoryGame.css" rel="stylesheet" type="text/css" />
</head>

<body>
    <div class="cards">

        <div class="card">
            <img class="front" src="https://seeklogo.com/images/J/javascript-logo-E967E87D74-seeklogo.com.png">
            <img class="back" src="../resources/img/1.png">
        </div>

        <div class="card">
            <img class="front" src="https://seeklogo.com/images/J/javascript-logo-E967E87D74-seeklogo.com.png">
            <img class="back" src="../resources/img/1.png">
        </div>

        <div class="card">
            <img class="front" src="https://seeklogo.com/images/J/javascript-logo-E967E87D74-seeklogo.com.png">
            <img class="back" src="../resources/img/2.png">
        </div>

        <div class="card">
            <img class="front" src="https://seeklogo.com/images/J/javascript-logo-E967E87D74-seeklogo.com.png">
            <img class="back" src="../resources/img/3.png">
        </div>

        <div class="card">
            <img class="front" src="https://seeklogo.com/images/J/javascript-logo-E967E87D74-seeklogo.com.png">
            <img class="back" src="../resources/img/2.png">
        </div>

        <div class="card">
            <img class="front" src="https://seeklogo.com/images/J/javascript-logo-E967E87D74-seeklogo.com.png">
            <img class="back" src="../resources/img/3.png">
        </div>

        <div class="card">
            <img class="front" src="https://seeklogo.com/images/J/javascript-logo-E967E87D74-seeklogo.com.png">
            <img class="back" src="../resources/img/4.png">
        </div>

        <div class="card">
            <img class="front" src="https://seeklogo.com/images/J/javascript-logo-E967E87D74-seeklogo.com.png">
            <img class="back" src="../resources/img/5.png">
        </div>

        <div class="card">
            <img class="front" src="https://seeklogo.com/images/J/javascript-logo-E967E87D74-seeklogo.com.png">
            <img class="back" src="../resources/img/6.png">
        </div>

        <div class="card">
            <img class="front" src="https://seeklogo.com/images/J/javascript-logo-E967E87D74-seeklogo.com.png">
            <img class="back" src="../resources/img/4.png">
        </div>

        <div class="card">
            <img class="front" src="https://seeklogo.com/images/J/javascript-logo-E967E87D74-seeklogo.com.png">
            <img class="back" src="../resources/img/5.png">
        </div>

        <div class="card">
            <img class="front" src="https://seeklogo.com/images/J/javascript-logo-E967E87D74-seeklogo.com.png">
            <img class="back" src="../resources/img/6.png">
        </div>
    </div>

    <script src="../public/js/memoryGame.js"></script>
</body>

</html>