<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Mood</title>
    <link rel="shortcut icon" href="../resources/icon/websiteIcon.png">
    <!-- <link rel="stylesheet" href="../public/css/style.css"> -->
    <link rel="stylesheet" href="../public/css/mood.css">
    <script type="text/javascript" src="../public/js/mood.js" defer></script>
</head>
<body>
<div class="mood">
    <div class='game-grid'>
        <div class="box">
            <button id="mood-sun">TL</button>
        </div>
        <div class="box" id="top-center">
            <button id="mood-animal">TC</button>
        </div>
        <div class="box" id="top-right">
            <button id="mood-beer">TR</button>
        </div>
        <div class="box" id="mid-left">
            <button id="mood-food">ML</button>
        </div>
        <div class="box" id="mid-center">
            <button id="mood-smile">MC</button>
        </div>
        <div class="box" id="mid-right">
            <button id="mood-chocolate">MR</button>
        </div>
        <div class="box" id="bottom-left">
            <button id="mood-coffee">BL</button>
        </div>
        <div class="box" id="bottom-center">
            <button id="mood-rain">BC</button>
        </div>
        <div class="box" id="bottom-right">
            <button id="mood-glass">BR</button>
        </div>
    </div>
</div>
</body>
</html>