/* *, *::after, *::before {
    box-sizing: border-box;
} */

:root {
    --cell-size: 120px;
    --mark-size: calc(var(--cell-size) * 0.9);
    --cross-icon: ../resources/icon/cross/cross6.png;
}



.board {
    /* width: 100vw; */
    /* height: 100vh; */
    display: grid;
    justify-content: center;
    align-content: center;
    justify-items: center;
    align-items: center;
    grid-template-columns: repeat(3, auto);
    /* position: static; */
    /* position: relative; */
    /* position: absolute; */
    /* position: sticky; */
    /* width: 100%; */
    height: 50%;
    width: 500px;
    margin: 0;
}

.cell {
    width: var(--cell-size);
    height: var(--cell-size);
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    /* position: relative; */
    cursor: pointer;
}

.cell.x,
.cell.circle {
    cursor: not-allowed;
}

.cell:first-child,
.cell:nth-child(2),
.cell:nth-child(3) {
    border-top: none;
}

.cell:nth-child(3n + 1) {
    border-left: none;
}

.cell:nth-child(3n + 3) {
    border-right: none;
}

.cell:last-child,
.cell:nth-child(8),
.cell:nth-child(7) {
    border-bottom: none;
}

.cell.x {
    background-image: url(../../resources/icon/cross/cross6.png);
    background-size: 90%;
    background-repeat: no-repeat;
    background-position: center;
}

.board.x .cell:not(.x):not(.circle):hover {
    background-image: url(../../resources/icon/cross/cross6.png);
    background-repeat: no-repeat;
    background-position: center;
    opacity: 0.2;   
}

.cell.circle {
    background-image: url(../../resources/icon/circle/circle5.png);
    background-repeat: no-repeat;
    background-position: center;
}

.board.circle .cell:not(.x):not(.circle):hover {
    background-image: url(../../resources/icon/circle/circle5.png);
    background-repeat: no-repeat;
    background-position: center;
    opacity: 0.5;   
}

.gameModeButtons {
    /* padding-top: 1em; */
    display: flex;
    flex-wrap: row wrap;
    justify-content: center;
}

.board {
    display: none;
}

