*, *::after, *::before {
    box-sizing: border-box;
}

:root {
    --cell-size: 120px;
    /* --cell-size: 100px; */
    --mark-size: calc(var(--cell-size) * 0.9);
    --cross-icon: ../resources/icon/cross/cross6.png;
}

body { 
    /* margin: 0; */
    background-color: darkgreen;
    /* font-size: 16px; */
}

.board {
    /* width: 100vw; */
    /* height: 100vh; */
    display: grid;
    justify-content: center;
    align-content: center;
    justify-items: center;
    align-items: center;
    grid-template-columns: repeat(3, auto);
}

.cell {
    width: var(--cell-size);
    height: var(--cell-size);
    /* background-color: black; */
    /* border: 1px solid white; */
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    /* cursor: not-allowed; */
    cursor: pointer;
}

.cell.x,
.cell.circle {
    cursor: not-allowed;
}

.cell:first-child,
.cell:nth-child(2),
.cell:nth-child(3) {
    border-top: none;
}

.cell:nth-child(3n + 1) {
    border-left: none;
}

.cell:nth-child(3n + 3) {
    border-right: none;
}

.cell:last-child,
.cell:nth-child(8),
.cell:nth-child(7) {
    border-bottom: none;
}

.cell.x {
    background-image: url(../../resources/icon/cross/cross6.png);
    /* background-size: 90%; */
    background-repeat: no-repeat;
    background-position: center;
}

.board.x .cell:not(.x):not(.circle):hover {
    background-image: url(../../resources/icon/cross/cross6.png);
    background-repeat: no-repeat;
    background-position: center;
    opacity: 0.2;   
}

.cell.circle {
    background-image: url(../../resources/icon/circle/circle5.png);
    background-repeat: no-repeat;
    background-position: center;
}

.board.circle .cell:not(.x):not(.circle):hover {
    background-image: url(../../resources/icon/circle/circle5.png);
    background-repeat: no-repeat;
    background-position: center;
    opacity: 0.5;   
}

.winning-message {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.9);
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 5rem;
}

.winning-message button {
    font-size: 3rem;
    background-color: white;
    border: 1px solid black;
    padding: .25em .5em;
    cursor: crosshair;
}

.winning-message button:hover {
    background-color: black;
    color: white;
    border-color: white;
}

.winning-message.show {
    display: flex;
}

.gameModeButtons {
    /* padding-top: 1em; */
    display: flex;
    flex-wrap: row wrap;
    justify-content: center;
}

.board {
    display: none;
}