.headerCont { 
    grid-area: header; 
}

.headerCont{
  font-size: xxx-large;
  display: flex;
  grid-area: header;
  justify-content: center;
}

.navCont { 
    grid-area: navbar; 
}

.leftCont { 
    grid-area: left; 
}

.mainCont {
    grid-area: main;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.rightCont { 
    grid-area: right; 
}

.footerCont { 
    grid-area: footer; 
}

.grid-container {
  display: grid;
  grid-template-areas:
    'header header header header header header'
    'navbar navbar navbar navbar navbar navbar'
    'left main main main main right'
    'footer footer footer footer footer footer';
  /* padding: 1em; */
}

.grid-container > div {
  background-color: transparent;

  text-align: center;
  padding: 0.5em 0;
}
