body {
    margin: 0;
    padding: 0;
    font-family: Arial;
    font-size: 17px;
    display: flex;
    flex-direction: column;
}

#myVideo {
    position: fixed;
    min-width: 100%;
    min-height: 100%;
    right: 0;
}

.container {
    position: absolute;
    background: rgba(0, 0, 0, 0.2);
    color: rgba(235, 116, 146, 0.911);
    width: 100%;
    padding: 20px;
    display: flex;
    flex-direction: column;
}

.projects-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

@media (min-width: 768px) {
    .projects-container {
        flex-direction: row;
    }
}

header {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    background-color: red;
    text-align: center;
    padding: .2em;
    opacity: .3;
}

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: red;
    text-align: center;
    padding: .2em;
    opacity: .3;
    color: #c2f1e7;
}

h1 {
    background-color: rgba(0, 0, 0, 1);
    color: white;
    opacity: 1;
}

*, *::after, *::before {
    box-sizing: border-box;
}

.grid-container.mainCont.board {
    width: 5vw;
    height: 50vh;
    display: grid;
    justify-content: center;
    align-items: center;
}

.grid-container.mainCont.board.cell {
    width: 100px;
    height: 100px;
    background-attachment: black;
}

