.game-grid {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: space-between;
    width: 20em;
    height: 20em;
    background-color: transparent;
    opacity: 41%;
}

.grid-container-ttc {
    display: grid;
    grid-template-areas:
            'header header header header header header'
            'navbar navbar navbar navbar navbar navbar'
            'left main main main main right'
            'footer footer footer footer footer footer';
}

.headerCont{
    font-size: xxx-large;
    display: flex;
    grid-area: header;
    justify-content: center;
    margin: 2em;
}

button {
    width: 7em;
    height: 7em;
    background-color: white;
    pointer-events: none;
}

.player-x {
    background-image: url("../../resources/icon/x.png");
    background-size: cover;
}

.player-o {
    background-image: url("../../resources/icon/o.png");
    background-size: cover;
}